@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-gray-100 font-sans antialiased;
    margin: 0;
    padding: 0;
  }
  #root {
    min-height: 100vh;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-dark-800;
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-dark-600;
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-dark-500;
  }
}
